// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// color palette
$beige: #B5ACA3;
$babyblue: #abcdef;
$matteblue: #849DBB;
$silverblue: #5d89ba;
$brown: #533A33;
