// Specific CSS for your home-page
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");

.mapboxgl-canvas {
  width: 100%;
  height: 735px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.5rem;
}

@media (max-width: 480px) {
  .mapboxgl-canvas {
    width: 100%;
    height: 800px;
  }
}
