<div id="place_description" class="description-loading">
  <div class="loading-skeleton">
    <div class="skeleton-line skeleton-line-full"></div>
    <div class="skeleton-line skeleton-line-full"></div>
    <div class="skeleton-line skeleton-line-medium"></div>
  </div>
  <p class="loading-text">
    <i class="fa-solid fa-spinner fa-spin"></i>
    Generating description with AI...
  </p>
</div>
